{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<h1 align="center">Blog</h1>
<ul class="list-group list-group-flush" id="blogs">
  {% for blog in user.blogs %}
  <li class="list-group-item">{{blog.data}}
  <button type="button" class="close" onClick="deleteBlog({{blog.id}})"> 
  <span aria-hidden="true">&times;</span>
  </button></li>
  {% endfor %}
</ul>
<form method='POST'>
  <textarea name="blog" id="blog" class="form-control">
  </textarea>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form> 
{% endblock %}